<a href="https://colab.research.google.com/github/adamrhurley/FYP/blob/main/MusicRecommenderSystem/MF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Reference: https://beckernick.github.io/matrix-factorization-recommender/

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving artists.csv to artists.csv
Saving userArtists.csv to userArtists.csv

In [ ]:
import io
userArtists = pd.read_csv(io.BytesIO(uploaded['userArtists.csv']))
artists = pd.read_csv(io.BytesIO(uploaded['artists.csv']))

In [ ]:
userArtists.head()

   userID  artistID  weight
0       2        51   13883
1       2        52   11690
2       2        53   11351
3       2        54   10300
4       2        55    8983

In [ ]:
artists.head()

   artistID  ...                                         pictureURL
0         1  ...    http://userserve-ak.last.fm/serve/252/10808.jpg
1         2  ...  http://userserve-ak.last.fm/serve/252/3052066.jpg
2         3  ...  http://userserve-ak.last.fm/serve/252/40222717...
3         4  ...  http://userserve-ak.last.fm/serve/252/54697835...
4         5  ...  http://userserve-ak.last.fm/serve/252/14789013...

[5 rows x 4 columns]

In [ ]:
data = pd.merge(userArtists, artists, on='artistID')

In [ ]:
data.head()

   userID  ...                                        pictureURL
0       2  ...  http://userserve-ak.last.fm/serve/252/155668.jpg
1       4  ...  http://userserve-ak.last.fm/serve/252/155668.jpg
2      27  ...  http://userserve-ak.last.fm/serve/252/155668.jpg
3      28  ...  http://userserve-ak.last.fm/serve/252/155668.jpg
4      62  ...  http://userserve-ak.last.fm/serve/252/155668.jpg

[5 rows x 6 columns]

In [ ]:
dataPivoted = userArtists.pivot(index = 'userID', columns ='artistID', values = 'weight').fillna(0)
dataPivoted.head()

artistID  1      2      3      4      5      ...  18741  18742  18743  18744  18745
userID                                       ...
2           0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
3           0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
4           0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
5           0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
6           0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0

[5 rows x 17632 columns]

In [ ]:
numPivot = dataPivoted.to_numpy()
meanPlays = np.mean(numPivot, axis = 1)
reshapedData = numPivot - meanPlays.reshape(-1, 1)

In [ ]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(reshapedData, k = 50)

In [ ]:
sigma = np.diag(sigma)

In [ ]:
allPredictedPlays = np.dot(np.dot(U, sigma), Vt) + meanPlays.reshape(-1, 1)

In [ ]:
predictions = pd.DataFrame(allPredictedPlays, columns = dataPivoted.columns)
predictions.head()

artistID     1         2         3      ...     18743     18744     18745
0         3.662287  6.031321  3.801433  ...  3.860394  3.860227  3.968843
1         1.179475  1.181821  1.179390  ...  1.179517  1.179516  1.180229
2         0.891694  0.919519  0.701617  ...  0.708064  0.708041  0.872522
3         0.120354  0.398245  0.104811  ...  0.113075  0.113042  0.453506
4         0.049463  0.045931  0.049044  ...  0.048998  0.048998  0.048693

[5 rows x 17632 columns]

In [ ]:
def recommendations(predictions, userID, artists, userArtists, num_recommendations):
    rowNumber = userID - 1
    predictionsSorted = predictions.iloc[rowNumber].sort_values(ascending=False)
    
    user_data = userArtists[userArtists.userID == (userID)]
    userHistory = (user_data.merge(artists, how = 'left', left_on = 'artistID', right_on = 'artistID').sort_values(['weight'], ascending=False))
    recommendations = (artists[~artists['artistID'].isin(userHistory['artistID'])].
         merge(pd.DataFrame(predictionsSorted).reset_index(), how = 'left', left_on = 'artistID', right_on = 'artistID').
         rename(columns = {rowNumber: 'Predictions'}).
         sort_values('Predictions', ascending = False).iloc[:num_recommendations, :-1])

    return userHistory, recommendations

In [ ]:
alreadyListened, predictions = recommendations(predictions, 43, artists, userArtists, 5)

In [ ]:
alreadyListened.head()

    userID  ...                                         pictureURL
3       43  ...  http://userserve-ak.last.fm/serve/252/10953763...
27      43  ...  http://userserve-ak.last.fm/serve/252/37989495...
1       43  ...  http://userserve-ak.last.fm/serve/252/10923145...
11      43  ...  http://userserve-ak.last.fm/serve/252/8461967.jpg
32      43  ...  http://userserve-ak.last.fm/serve/252/24606465...

[5 rows x 6 columns]

In [ ]:
predictions

     artistID  ...                                         pictureURL
263       288  ...  http://userserve-ak.last.fm/serve/252/53023109...
431       461  ...  http://userserve-ak.last.fm/serve/252/58452885...
668       701  ...  http://userserve-ak.last.fm/serve/252/52116105...
275       300  ...  http://userserve-ak.last.fm/serve/252/42128121...
436       466  ...  http://userserve-ak.last.fm/serve/252/47829587...

[5 rows x 4 columns]