<a href="https://colab.research.google.com/github/adamrhurley/FYP/blob/main/MusicRecommenderSystem/svd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://blog.cambridgespark.com/tutorial-practical-introduction-to-recommender-systems-dbe22848392b
# https://predictivehacks.com/how-to-run-recommender-systems-in-python/

In [ ]:
pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 9.8MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617595 sha256=400a3901a473489fee333d1656f56edfea5c0e8553a389fc84eba01900c5895a
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
import pandas as pd
import numpy as np
import math
import re
from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from surprise import Reader, Dataset, SVD
from surprise.model_selection.validation import cross_validate

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving artists.csv to artists.csv
Saving userArtists.csv to userArtists.csv

In [ ]:
import io
users = pd.read_csv(io.BytesIO(uploaded['userArtists.csv']))
artists = pd.read_csv(io.BytesIO(uploaded['artists.csv']))

In [ ]:
mergedDF = pd.merge(users, artists, on='artistID')
mergedDF.head()

   userID  ...                                        pictureURL
0       2  ...  http://userserve-ak.last.fm/serve/252/155668.jpg
1       4  ...  http://userserve-ak.last.fm/serve/252/155668.jpg
2      27  ...  http://userserve-ak.last.fm/serve/252/155668.jpg
3      28  ...  http://userserve-ak.last.fm/serve/252/155668.jpg
4      62  ...  http://userserve-ak.last.fm/serve/252/155668.jpg

[5 rows x 6 columns]

In [ ]:
users.head()

   userID  artistID  weight
0       2        51   13883
1       2        52   11690
2       2        53   11351
3       2        54   10300
4       2        55    8983

In [ ]:
artists.head()

   artistID  ...                                         pictureURL
0         1  ...    http://userserve-ak.last.fm/serve/252/10808.jpg
1         2  ...  http://userserve-ak.last.fm/serve/252/3052066.jpg
2         3  ...  http://userserve-ak.last.fm/serve/252/40222717...
3         4  ...  http://userserve-ak.last.fm/serve/252/54697835...
4         5  ...  http://userserve-ak.last.fm/serve/252/14789013...

[5 rows x 4 columns]

In [ ]:
reader = Reader(rating_scale = (0,100000))

data = Dataset.load_from_df(users[['userID', 'artistID', 'weight']], reader)
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=10, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    99347.547799344.734099305.569499314.181999322.687499344.012399312.666399334.049199312.718299286.186999322.435318.9334
MAE (testset)     99297.294499299.770799273.491399284.786499280.313399295.436199275.417499304.564599288.908099243.926499284.390816.7508
Fit time          4.38    4.31    4.32    4.29    4.27    4.32    4.33    4.35    4.27    4.32    4.32    0.03
Test time         0.07    0.07    0.16    0.07    0.07    0.07    0.07    0.16    0.07    0.08    0.09    0.03

{'fit_time': (4.379277944564819,
  4.3099095821380615,
  4.3178551197052,
  4.29436731338501,
  4.266406536102295,
  4.3186562061309814,
  4.329766511917114,
  4.348835706710815,
  4.273674964904785,
  4.321028232574463),
 'test_mae': array([99297.29435125, 99299.77068074, 99273.49127531, 99284.78640672,
        99280.31327079, 99295.43606593, 99275.41741967, 99304.56447269,
        99288.90800388, 99243.92642465]),
 'test_rmse': array([99347.54766843, 99344.73400922, 99305.56944778, 99314.18189152,
        99322.68742127, 99344.01229756, 99312.66633756, 99334.04914753,
        99312.71824252, 99286.18692475]),
 'test_time': (0.07043957710266113,
  0.07245230674743652,
  0.15595579147338867,
  0.06908988952636719,
  0.07328200340270996,
  0.06797099113464355,
  0.06873488426208496,
  0.15668869018554688,
  0.0741724967956543,
  0.0783541202545166)}

In [ ]:
userDF = users[(users['userID'] == 35)]
userDF = userDF.set_index('artistID')
userDF = userDF.join(artists)['name']
userDF.head(userDF.shape[0])

artistID
186                     Elton John
212                        Man Man
444              She Wants Revenge
920                          Viper
964                          Hevia
1169                  Lunatic Soul
1170                  Billy Talent
1171               Escape The Fate
1172                   Silverstein
1173    The Red Jumpsuit Apparatus
1174                 You Me At Six
1175                  The Blackout
1176                       Alesana
1177                        Sum 41
1178             Dance Gavin Dance
Name: name, dtype: object

In [ ]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [ ]:
artists = artists.copy()

artists['EstimatePlays'] = artists['artistID'].apply(lambda x: svd.predict(35, x).est)
artists = artists.sort_values(by=['EstimatePlays'], ascending=False)

In [ ]:
artists.head(10)

       artistID  ... EstimatePlays
0             1  ...        100000
11752     12178  ...        100000
11758     12184  ...        100000
11757     12183  ...        100000
11756     12182  ...        100000
11755     12181  ...        100000
11754     12180  ...        100000
11753     12179  ...        100000
11751     12177  ...        100000
11777     12203  ...        100000

[10 rows x 5 columns]